doctype html
html
	head
		title #{title}
		link(rel='stylesheet', href='/css/style.css')
		script(src='/socket.io.js')
		script(src='/jquery.min.js')
		meta(name='viewport' content='width=device-widthm initial-scale=1')
	body
		main
			block header
				header.header
					h1 #{title}
			block content

