extends default

block content
	script(src='/client.js')
	div.svgContainer
		svg#svg(xmlns='http://www.w3.org/2000/svg', version='1.1', width='900', height='900', style='position:relative;overflow:hidden;', viewBox='-250 660 900 900', transform='rotate(-90)')
			g(transform='scale(1,1)')
				g(width='179.5', height='213.667', transform='scale(1,1) translate(308.333,1034)')
					g(transform='scale(1,1) translate(0,0)', fill='none', stroke='#000000', stroke-opacity='1')
						path(d='M0,213.667 L0,0 L179.5,0 L179.5,213.667 L0,213.667 z', stroke-width='12.333', stroke-dasharray='none')
				g(width='457.342', height='867.518', transform='scale(1,1) translate(172.917,675.525)')
					g(transform='scale(1,1) translate(0,0)', fill='none', stroke='#000000', stroke-opacity='1')
						path(d='M429.833,658.059 L273,658.059 L273,760.87 L457,760.87 L457,867.518 L0,867.518 L0,749.372 L27.5,749.372 L27.5,212.143 L82.167,212.143 L82.167,269.132 L192.333,269.132 L192.333,131.328 L0.333,131.328 L0.333,1.368 L457.158,0 L457.342,129.995 L429.833,129.995 L429.833,658.059 z', stroke-width='11.833', stroke-dasharray='none')
				g(width='155.5', height='205.5', transform='scale(1,1) translate(206.333,1333.167)')
					g(transform='scale(1,1) translate(0,0)', fill='#000000', stroke='#000000', stroke-opacity='1')
						path(d='M0,0 L155.5,0 L155.5,205.5', fill='none', stroke-width='11.833', stroke-dasharray='none')
						g
							g(stroke-dasharray='none')
								path(d='M-11.833,-11.833L11.833,-11.833L11.833,11.833L-11.833,11.833z', stroke-width='0', fill='none')
				g(width='47.167', height='14', transform='rotate(90,361.917,1390.5) scale(1,1) translate(338.333,1383.5)')
					g(stroke='#BFBFBF', stroke-opacity='1', stroke-width='0', stroke-dasharray='none', width='47.167', height='14', transform='scale(1,1) translate(0,0)', fill='#FFFFFF', fill-opacity='1')
						rect(width='47.167', height='14')
				g(width='47.167', height='14', transform='rotate(90,360.917,1478.667) scale(1,1) translate(337.333,1470.667)')
					g(stroke='#BFBFBF', stroke-opacity='1', stroke-width='0', stroke-dasharray='none', width='47.167', height='14', transform='scale(1,1) translate(0,0)', fill='#FFFFFF', fill-opacity='1')
						rect(width='47.167', height='14')
				g(width='0', height='109.5', transform='scale(1,1) translate(440,1430.667)')
					g(transform='scale(1,1) translate(0,0)', fill='#000000', stroke='#000000', stroke-opacity='1')
						path(d='M5.5,0 L5.5,109.5', fill='none', stroke-width='11.833', stroke-dasharray='none')
						g
							g(stroke-dasharray='none')
								path(d='M-11.833,-11.833L11.833,-11.833L11.833,11.833L-11.833,11.833z', stroke-width='0', fill='none')
				g(width='47.333', height='14', transform='rotate(90.1,440.08,1488.764) scale(1,1) translate(416.413,1476)')
					g(stroke='#BFBFBF', stroke-opacity='1', stroke-width='0', stroke-dasharray='none', width='47.333', height='14', transform='scale(1,1) translate(0,0)', fill='#FFFFFF', fill-opacity='1')
						rect(width='47.333', height='14')
				g(width='59.167', height='14', transform='rotate(90,602.75,1128.333) scale(1,1) translate(573.167,1121.333)')
					g(stroke='#BFBFBF', stroke-opacity='1', stroke-width='0', stroke-dasharray='none', width='59.167', height='14', transform='scale(1,1) translate(0,0)', fill='#FFFFFF', fill-opacity='1')
						rect(width='59.167', height='14')
				g(width='59', height='14', transform='rotate(90,200.5,1128.333) scale(1,1) translate(171,1121.333)')
					g(stroke='#BFBFBF', stroke-opacity='1', stroke-width='0', stroke-dasharray='none', width='59', height='14', transform='scale(1,1) translate(0,0)', fill='#FFFFFF', fill-opacity='1')
						rect(width='59', height='14')
				g(width='157.167', height='124', transform='scale(1,1) translate(443.333,681.833)')
					g(transform='scale(1,1) translate(0,0)', fill='#000000', stroke='#000000', stroke-opacity='1')
						path(d='M157.167,124 L0,124 L0,0', fill='none', stroke-width='11.833', stroke-dasharray='none')
						g
							g(stroke-dasharray='none')
								path(d='M145.334,112.167L169,112.167L169,135.833L145.334,135.833z', stroke-width='0', fill='none')
				g(width='153.5', height='138.833', transform='scale(1,1) translate(443.333,807)')
					g(transform='scale(1,1) translate(0,0)', fill='#000000', stroke='#000000', stroke-opacity='1')
						path(d='M0,0 L0,138.833 L153.5,138.833', fill='none', stroke-width='11.833', stroke-dasharray='none')
						g
							g(stroke-dasharray='none')
								path(d='M-11.833,-11.833L11.833,-11.833L11.833,11.833L-11.833,11.833z', stroke-width='0', fill='none')
				g(width='47.167', height='14', transform='scale(1,1) translate(464.5,1326.503)')
					g(stroke='#BFBFBF', stroke-opacity='1', stroke-width='0', stroke-dasharray='none', width='47.167', height='14', transform='scale(1,1) translate(0,0)', fill='#FFFFFF', fill-opacity='1')
						rect(width='47.167', height='14')
				g(width='47.333', height='14', transform='scale(1,1) translate(537,1326.503)')
					g(stroke='#BFBFBF', stroke-opacity='1', stroke-width='0', stroke-dasharray='none', width='47.333', height='14', transform='scale(1,1) translate(0,0)', fill='#FFFFFF', fill-opacity='1')
						rect(width='47.333', height='14')
				g(width='47.333', height='14', transform='rotate(90,446,1390.5) scale(1,1) translate(422.333,1383.5)')
					g(stroke='#BFBFBF', stroke-opacity='1', stroke-width='0', stroke-dasharray='none', width='47.333', height='14', transform='scale(1,1) translate(0,0)', fill='#FFFFFF', fill-opacity='1')
						rect(width='47.333', height='14')
				g(width='47.167', height='14', transform='rotate(90,443.417,908.667) scale(1,1) translate(419.833,901.667)')
					g(stroke='#BFBFBF', stroke-opacity='1', stroke-width='0', stroke-dasharray='none', width='47.167', height='14', transform='scale(1,1) translate(0,0)', fill='#FFFFFF', fill-opacity='1')
						rect(width='47.167', height='14')
				g(width='0', height='133.833', transform='scale(1,1) translate(365.5,682.234)')
					g(transform='scale(1,1) translate(0,0)', fill='#000000', stroke='#000000', stroke-opacity='1')
						path(d='M0,0 L0,133.833', fill='none', stroke-width='11.833', stroke-dasharray='none')
						g
							g(stroke-dasharray='none')
								path(d='M-11.833,-11.833L11.833,-11.833L11.833,11.833L-11.833,11.833z', stroke-width='0', fill='none')
				g(width='47.333', height='14', transform='rotate(90,365.667,757.625) scale(1,1) translate(342,750.625)')
					g(stroke='#BFBFBF', stroke-opacity='1', stroke-width='0', stroke-dasharray='none', width='47.333', height='14', transform='scale(1,1) translate(0,0)', fill='#FFFFFF', fill-opacity='1')
						rect(width='47.333', height='14')
				g(width='47.167', height='14', transform='rotate(90,443.417,757.5) scale(1,1) translate(419.833,750.5)')
					g(stroke='#BFBFBF', stroke-opacity='1', stroke-width='0', stroke-dasharray='none', width='47.167', height='14', transform='scale(1,1) translate(0,0)', fill='#FFFFFF', fill-opacity='1')
						rect(width='47.167', height='14')
				g(width='71', height='14', transform='scale(1,1) translate(275.333,937.5)')
					g(stroke='#BFBFBF', stroke-opacity='1', stroke-width='0', stroke-dasharray='none', width='71', height='14', transform='scale(1,1) translate(0,0)', fill='#FFFFFF', fill-opacity='1')
						rect(width='71', height='14')
				g(width='54.5', height='0', transform='scale(1,1) translate(194.667,944.667)')
					g(transform='scale(1,1) translate(0,0)', fill='#000000', stroke='#000000', stroke-opacity='1')
						path(d='M0,0 L54.5,0', fill='none', stroke-width='11.833', stroke-dasharray='none')
						g
							g(stroke-dasharray='none')
								path(d='M-11.833,-11.833L11.833,-11.833L11.833,11.833L-11.833,11.833z', stroke-width='0', fill='none')
				g(width='27.5', height='14', transform='scale(1,1) translate(214.167,937.667)')
					g(stroke='#BFBFBF', stroke-opacity='1', stroke-width='0', stroke-dasharray='none', width='27.5', height='14', transform='scale(1,1) translate(0,0)', fill='#FFFFFF', fill-opacity='1')
						rect(width='27.5', height='14')
				g(width='62', height='35', transform='rotate(180,510.163,971.598) scale(1,1) translate(478.667,953.882)')
					g(stroke='#4BACC6', stroke-opacity='1', stroke-width='1', stroke-dasharray='none', width='62.992', height='35.433', transform='scale(1,1) translate(0,0)', fill='#122769', fill-opacity='0.75')
						rect(width='62', height='35', id='spot1')
						image.free(xlink:href='/images/car.png', x='-45.5', y='3',width='55', height='55', transform='rotate(-90)', id='car1')
				g(width='35', height='62', transform='scale(1,1) translate(298.333,1461.167)')
					g(stroke='#4BACC6', stroke-opacity='1', stroke-width='1', stroke-dasharray='none', width='35.433', height='62.992', transform='scale(1,1) translate(0,0)', fill='#122769', fill-opacity='0.75')
						rect(width='35', height='62', id='spot2')
						image.free(xlink:href='/images/car.png', x='-9.5', y='3',width='55', height='55', transform='rotate(0)',id='car2')
				g(width='35', height='62', transform='scale(1,1) translate(400,799.833)')
					g(stroke='#4BACC6', stroke-opacity='1', stroke-width='1', stroke-dasharray='none', width='35.433', height='62.992', transform='scale(1,1) translate(0,0)', fill='#122769', fill-opacity='0.75')
						rect(width='35', height='62', id='spot3')
						image.free(xlink:href='/images/car.png', x='-45.5', y='-58',width='55', height='55', transform='rotate(180)', id='car3')
				g(width='62', height='35', transform='scale(1,1) translate(282.721,1289.603)')
					g(stroke='#4BACC6', stroke-opacity='1', stroke-width='1', stroke-dasharray='none', width='62.992', height='35.433', transform='scale(1,1) translate(0,0)', fill='#122769', fill-opacity='0.75')
						rect(width='62', height='35', id='spot4')
						image.free(xlink:href='/images/car.png', x='-45.5', y='3',width='55', height='55', transform='rotate(-90)', id='car4')
				g(width='47.333', height='14', transform='rotate(90,365.33,870.303) scale(1,1) translate(341.664,863.303)')
					g(stroke='#BFBFBF', stroke-opacity='1', stroke-width='0', stroke-dasharray='none', width='47.333', height='14', transform='scale(1,1) translate(0,0)', fill='#FFFFFF', fill-opacity='1')
						rect(width='47.333', height='14')
				g(width='97.554', height='57.04', transform='scale(1,1) translate(228.78,1387.583)')
					g(stroke='#000000', stroke-opacity='1', stroke-width='0', stroke-dasharray='none', width='97.554', height='57.04', transform='scale(1,1) translate(0,0)', fill='none')
						rect(width='97.554', height='57.04')
					g(width='97.5541000366211', height='57.04011408022825', transform='scale(1,1) translate(0,0)')
						text(width='97.5541000366211', height='24.999998092651367', transform='scale(1,1) translate(60.5541000366211,-14.999998092651367) rotate(90)', xml:space='preserve')
							tspan(xml:space='preserve', text-rendering='optimizeSpeed', font-size='22.22222222222222', font-weight='normal', font-style='normal', fill='#000000', opacity='1', x='0', text-anchor='start', y='19.792', textLength='97.5541000366211', style='font-family: Arial, Helvetica Neue, Helvetica, sans-serif;') CyberSec
				g(width='35.813', height='26.042', transform='scale(1,1) translate(491.041,1476.223)')
					g(stroke='#000000', stroke-opacity='1', stroke-width='0', stroke-dasharray='none', width='35.813', height='26.042', transform='scale(1,1) translate(0,0)', fill='none')
						rect(width='35.813', height='26.042')
					g(width='35.812503814697266', height='26.04166603088379', transform='scale(1,1) translate(0,0)')
						text(width='35.812503814697266', height='24.999998092651367', transform='scale(1,1) translate(45.812503814697266,-5.999998092651367) rotate(90)', xml:space='preserve')
							tspan(xml:space='preserve', text-rendering='optimizeSpeed', font-size='22.22222222222222', font-weight='normal', font-style='normal', fill='#000000', opacity='1', x='0', text-anchor='start', y='19.792', textLength='35.812503814697266', style='font-family: Arial, Helvetica Neue, Helvetica, sans-serif;') IIoT
				g(width='60.516', height='26.042', transform='scale(1,1) translate(487.941,864.902)')
					g(stroke='#000000', stroke-opacity='1', stroke-width='0', stroke-dasharray='none', width='60.516', height='26.042', transform='scale(1,1) translate(0,0)', fill='none')
						rect(width='60.516', height='26.042')
					g(width='60.51564025878906', height='26.04166603088379', transform='scale(1,1) translate(0,0)')
						text(width='60.51564025878906', height='24.999998092651367', transform='scale(1,1) translate(50.51564025878906,-20.999998092651367) rotate(90)', xml:space='preserve')
							tspan(xml:space='preserve', text-rendering='optimizeSpeed', font-size='22.22222222222222', font-weight='normal', font-style='normal', fill='#000000', opacity='1', x='0', text-anchor='start', y='19.792', textLength='60.51564025878906', style='font-family: Arial, Helvetica Neue, Helvetica, sans-serif;') Public
				g(width='74.109', height='26.042', transform='scale(1,1) translate(503.441,726.02)')
					g(stroke='#000000', stroke-opacity='1', stroke-width='0', stroke-dasharray='none', width='74.109', height='26.042', transform='scale(1,1) translate(0,0)', fill='none')
						rect(width='74.109', height='26.042')
					g(width='74.10942077636719', height='26.04166603088379', transform='scale(1,1) translate(0,0)')
						text(width='74.10942077636719', height='24.999998092651367', transform='scale(1,1) translate(53.10942077636719,-20.999998092651367) rotate(90)', xml:space='preserve')
							tspan(xml:space='preserve', text-rendering='optimizeSpeed', font-size='22.22222222222222', font-weight='normal', font-style='normal', fill='#000000', opacity='1', x='0', text-anchor='start', y='19.792', textLength='74.10942077636719', style='font-family: Arial, Helvetica Neue, Helvetica, sans-serif;') Kitchen
				g(width='30.865', height='26.042', transform='rotate(270,466.309,1389.662) scale(1,1) translate(450.876,1376.641)')
					g(stroke='#000000', stroke-opacity='1', stroke-width='0', stroke-dasharray='none', width='30.865', height='26.042', transform='scale(1,1) translate(0,0)', fill='none')
						rect(width='30.865', height='26.042')
					g(width='30.86538314819336', height='26.04166603088379', transform='scale(1,1) translate(0,0)')
						text(width='30.86538314819336', height='24.999998092651367', transform='scale(1,1) translate(30.86538314819336,24.999998092651367) rotate(180)', xml:space='preserve')
							tspan(xml:space='preserve', text-rendering='optimizeSpeed', font-size='22.22222222222222', font-weight='normal', font-style='normal', fill='#000000', opacity='1', x='0', text-anchor='start', y='19.792', textLength='30.86538314819336', style='font-family: Arial, Helvetica Neue, Helvetica, sans-serif;') SC
				g(width='92.618', height='26.042', transform='scale(1,1) translate(478.641,1341.683)')
					g(stroke='#000000', stroke-opacity='1', stroke-width='0', stroke-dasharray='none', width='92.618', height='26.042', transform='scale(1,1) translate(0,0)', fill='none')
						rect(width='92.618', height='26.042')
					g(width='92.61779022216797', height='26.04166603088379', transform='scale(1,1) translate(0,0)')
						text(width='92.61779022216797', height='24.999998092651367', transform='scale(1,1) translate(0,0.5208339691162109)', xml:space='preserve')
							tspan(xml:space='preserve', text-rendering='optimizeSpeed', font-size='22.22222222222222', font-weight='normal', font-style='normal', fill='#000000', opacity='1', x='0', text-anchor='start', y='19.792', textLength='92.61779022216797', style='font-family: Arial, Helvetica Neue, Helvetica, sans-serif;') Elevators
				g(width='80.282', height='26', transform='scale(1,1) translate(270.321,909.542)')
					g(stroke='#000000', stroke-opacity='1', stroke-width='0', stroke-dasharray='none', width='80.282', height='26', transform='scale(1,1) translate(0,0)', fill='none')
						rect(width='80.282', height='26')
					g(width='80.2824935913086', height='26', transform='scale(1,1) translate(0,0)')
						text(width='80.2824935913086', height='24.999998092651367', transform='scale(1,1) translate(0,0.5000009536743164)', xml:space='preserve')
							tspan(xml:space='preserve', text-rendering='optimizeSpeed', font-size='22.22222222222222', font-weight='normal', font-style='normal', fill='#000000', opacity='1', x='0', text-anchor='start', y='19.792', textLength='80.2824935913086', style='font-family: Arial, Helvetica Neue, Helvetica, sans-serif;') Elevator
				g(width='30.833', height='26', transform='rotate(270,342.944,870.642) scale(1,1) translate(327.527,857.642)')
					g(stroke='#000000', stroke-opacity='1', stroke-width='0', stroke-dasharray='none', width='30.833', height='26', transform='scale(1,1) translate(0,0)', fill='none')
						rect(width='30.833', height='26')
					g(width='30.86538314819336', height='26', transform='scale(1,1) translate(0,0)')
						text(width='30.86538314819336', height='24.999998092651367', transform='scale(1,1) translate(30.86,24.999998092651367) rotate(180)', xml:space='preserve')
							tspan(xml:space='preserve', text-rendering='optimizeSpeed', font-size='22.22222222222222', font-weight='normal', font-style='normal', fill='#000000', opacity='1', x='0', text-anchor='start', y='19.792', textLength='30.86538314819336', style='font-family: Arial, Helvetica Neue, Helvetica, sans-serif;') SC
				g(width='64.215', height='26.042', transform='scale(1,1) translate(239.32,729.12)')
					g(stroke='#000000', stroke-opacity='1', stroke-width='0', stroke-dasharray='none', width='64.215', height='26.042', transform='scale(1,1) translate(0,0)', fill='none')
						rect(width='64.215', height='26.042')
					g(width='64.21514892578125', height='26.04166603088379', transform='scale(1,1) translate(0,0)')
						text(width='64.21514892578125', height='24.999998092651367', transform='scale(1,1) translate(45,-20) rotate(90)', xml:space='preserve')
							tspan(xml:space='preserve', text-rendering='optimizeSpeed', font-size='22.22222222222222', font-weight='normal', font-style='normal', fill='#000000', opacity='1', x='0', text-anchor='start', y='19.792', textLength='64.21514892578125', style='font-family: Arial, Helvetica Neue, Helvetica, sans-serif;') Extern

