extends default

block content
        script(src='/client.js')
        div.container
                each val in [1, 3, 5]
                        div.parking-spot
                                img.slot(src='/images/ParkingSpace.png')
                                div.sensorLeft.free(id= 'A' + val)
                                        img.car(src='/images/car.png')
                                div.sensorRight.free(id= 'A' + (val+1))
                                        img.car(src='/images/car.png')
        div.path
                div.striped-border

        div.container
                each val in [7, 9, 11]
                        div.parking-spot
                                img.slot(src='/images/ParkingSpace1.png')
                                div.sensorLeft.free(id= 'A' + val)
                                        img.car(src='/images/car.png')
                                div.sensorRight.free(id= 'A' + (val+1))
                                        img.car(src='/images/car.png')


