/* ==========================================================================
   #STYLES
   ========================================================================== */


/**
 *
 * [1]: Inheriting box sizing slightly better best-practice
 * https://css-tricks.com/inheriting-box-sizing-probably-slightly-better-best-practice/
 *
 * [2]: WordPress System font-stack
 */


/* RESET
   ========================================================================== */


html {
  box-sizing: border-box;
}

*, *::before, *::after {
  box-sizing: inherit; /* [1] */
  margin: 0;
  padding: 0;
}



/* FONTS
   ========================================================================== */

body {
  font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Oxygen-Sans,Ubuntu,Cantarell,"Helvetica Neue",sans-serif; /* [2] */
}



/* Header
   ========================================================================== */

.header {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80px;
  background-color: #122769;
  color: #FFFFFF;
  margin-bottom: 50px;
}



/* Homepage Container
   ========================================================================== */

.container {
  width: 1300px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 20px;
}

.path {
	text-align:center;
}

.striped-border {

        border: 5px dashed #000;	
	width: 1300px;
	display:inline-block;
        margin-top: 70px;
        margin-bottom: 100px;
}


/* Parking Spot
   ========================================================================== */

.parking-spot-image {
  text-align: center;
  width: 100%;
  height: 300px;
}

/* Sensor 
   ========================================================================= */

.sensorLeft {
	height:10%;
  	margin: -35% auto auto 25%;
  	width:10%;
	border-radius:35%;
}

.sensorRight {
	height:10%;
  	margin:-7.2% auto auto 65%;
  	width:10%;
	border-radius:35%;
}

.taken{
	background:red;
}

.free{
	background:blue;
}
